/* Quest cards */
    .cardHolder {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
    .questCard {
        border: 6px;
        border-style: solid;
        border-color: rgb(63, 56, 47);
        width: 480px;
        height: 330px;
        padding: 0px;
        border-radius: 10px;
        background-color: rgb(196, 174, 147);
        box-shadow: 0 6px 6px rgba(0,0,0,0.4);
        overflow: hidden;/*clips image if overflowing into border*/
    }

/* Form box */
    .formContainer {
        background: rgb(196, 174, 147);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 40vw;
        min-height: 20vh;
        max-height: 50vh;
        overflow-y: auto; /*creates scroll bar. looks ugly though. CHANGE THIS LATER*/
        overflow-x: hidden;
    }

    #thumbnailPreview {
        width: 20%;
        justify-self: center;
    }

    /* Buttons */
    .formButtonsContainer {
        display: flex;
        justify-content: space-between;
    }
    .formButton{
        display: flex;
        gap: 10px;
        font-size: 14pt;
        border: 5px;
        border-style: solid;
        border-color: rgb(216, 167, 127);
        background-color: rgb(63, 56, 47);
        color: rgb(235, 231, 217);
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.4);
        transition: transform 0.1s ease-in-out; 
    }
    .formButton:hover{
        transform: scale(1.02);
    }
    .formButton:active {
        transform: scale(0.96);
    }
    /*Input fields*/
    .formTextField{
        font-size: 14pt;
        border: 5px;
        border-style: solid;
        border-color: rgb(216, 167, 127);
        background-color: rgb(63, 56, 47);
        color: rgb(235, 231, 217);
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.4);
        transition: transform 0.1s ease-in-out; 
    }
    .formTextField:hover{
        transform: scale(1.02);
    }

    .formTextArea{
        font-size: 14pt;
        border: 5px;
        border-style: solid;
        border-color: rgb(216, 167, 127);
        background-color: rgb(95, 94, 92); /*IDK this just feels right*/
        color: rgb(235, 231, 217);
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.4);
        transition: transform 0.1s ease-in-out; 
        min-height: 10vh;
    }
    .formTextArea:hover{
        transform: scale(1.02);
    }

/*Card*/
    .mainContent {
        padding: 20px;
    }

    .cardText {
        padding: 10px;
    }

    /*the thumbnail of each quest*/
    .questThumbnail {
        width: 100%;
        max-height: 60%;
        object-fit: cover; /*will shrink instead of getting clipped*/
        object-position: center;
        justify-self: center;
        display: block;
        margin-bottom: 5px;
    }

    .overlay {/* Overlay for form */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.6);

        display: flex;
        justify-content: center;
        align-items: center;
    }

/*Other CSS*/
    .TNR { /*Times New Roman font applicator*/
        font-family: 'Times New Roman', Times, serif;
    }
    .hidden {/* Hidden state */
        display: none;
    }
    body {
        margin: 0;
        font-family: sans-serif;
        background-color: rgb(211, 194, 173);
    }

/*Create Quest Button*/
    .createQuestBtn{
        font-size: 14pt;
        border: 5px;
        border-style: solid;
        border-color: rgb(216, 167, 127);
        background-color: rgb(63, 56, 47);
        color: rgb(235, 231, 217);
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.4);
        transition: transform 0.1s ease-in-out; 

        min-width: 80px;
        min-height: 80px;

        max-height: 80%;

        box-sizing: border-box;
    }

    .createQuestBtn,
    .createQuestBtn label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .createQuestBtn input {
        display: none;
    }

    .createQuestBtn:hover {
        transform: scale(1.04);
    }

    .createQuestBtn:active {
        transform: scale(0.96);
    }

/* pixel art switch*/
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 26px;
        flex-shrink: 0; /*so long as it is in a flex box maintain sizing.*/
    }

    .switch input {
        opacity: 0; /* hide default checkbox */
        width: 0;
        height: 0;
    }

    .slider { /* slider background in off state */
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.3s;
        border-radius: 34px;
    }

    .slider::before { /* circle nib */
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.3s;
        border-radius: 50%;
    }

    .switch input:checked + .slider { /* changes to slider background in on state */
        background-color: #3b88cf;
    }

    .switch input:checked + .slider::before { /*move the nub that distance to the right */
        transform: translateX(24px);
    }

    .pixelated {
        image-rendering: pixelated;
    }
/*other/unsorted*/
    .hidden{
        display: none;
    }
    .formError {
        color: #cc2544;
        font-size: 18pt;
        font-weight: bold;
        text-align: center;

        text-shadow: /*awkward hopefully temporary solution for black border*/
        0 2px 0 black,
        2px 0 0 black,
        0 -2px 0 black,
       -2px 0 0 black;
    }
    .vertCenter{
        align-items: center;
    }
    .creationButtonsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        align-items: center;
        gap: 10px;
        max-width: 100%;
    }
    .btnText {
        display: inline;
    }

@media (max-width: 900px) {
    .creationButtonsContainer {
        position: fixed;
        top: 110px;
        right: 10px;
        flex-direction: column;
        background: rgba(63, 56, 47, 0.671);
        padding: 10px;
        border-radius: 10px;
        z-index: 1000;
    }
    .btnText {
        display: none;
    }
}